* {
    /* background-color: #ffffb5; */
    border: 1px solid #b37776;
    box-sizing: border-box;
}

li {
    list-style: none;
    background-color: #CFEBFF;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

#name{
    background-color: #b37776;
}
#profile-photo {
    background-image: url("../profilephoto.jpg");
    height: 70%;
    background-size: cover;
    border-radius: 100%;
}

main {
    background-color: #B3B36D;
    display: flex;
    height: 800px;
}
main div  {
    width: 50%;
    height: 100%;
   
}

main div li {
   
    background-color: #FFFFB5;
    border-radius: 20px;
    text-align: center;
    color: #B3B36D;
}

footer ul li {
    margin-bottom: 0;
    background-color: #b37776;
    flex-direction: row;
    display: flex;
}

ul {
    display: flex;
    flex-direction: column;
    height: 80%;
}
